contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.4.13
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook polls a field to check if a specific value exists.
id: Field Polling - Generic
inputs:
- description: The field to poll for a value. Ensure that you use the lower case version
    of the field. For example, the Details field should be details.
  key: field
  playbookInputQuery: null
  required: true
  value: {}
- description: The regex to check the field for. By default the regex contains .+,
    which matches anything other than None.
  key: value
  playbookInputQuery: null
  required: true
  value:
    simple: .+
- description: How often to check (in minutes).
  key: frequency
  playbookInputQuery: null
  required: true
  value:
    simple: "1"
- description: When to timeout (in minutes).
  key: timeout
  playbookInputQuery: null
  required: true
  value:
    simple: "10"
name: Field Polling - Generic
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d66a3885-27e3-439d-8855-b5522c6dde35
      iscommand: false
      name: ""
      version: -1
    taskid: d66a3885-27e3-439d-8855-b5522c6dde35
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      AdditionalPollingCommandArgNames:
        simple: regex
      AdditionalPollingCommandArgValues:
        complex:
          root: inputs.value
      Ids:
        complex:
          root: inputs.field
      Interval:
        complex:
          root: inputs.frequency
      PollingCommandArgName:
        simple: field
      PollingCommandName:
        simple: CheckFieldValue
      Timeout:
        complex:
          root: inputs.timeout
      dt:
        simple: CheckFieldValue(val.field=='${inputs.field}' && val.exists==false).field
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: bfc39c52-2ee9-4ad5-8528-1a18e6f6896f
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: bfc39c52-2ee9-4ad5-8528-1a18e6f6896f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4652f620-ec05-47da-800c-76426f68efab
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 4652f620-ec05-47da-800c-76426f68efab
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 385,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
