contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.1.4
    packID: PAN-OS
    packName: PAN-OS by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Find if there is signature coverage for a specific CVE.
id: NetOps Panorama coverage by CVE
inputs: []
name: NetOps Panorama coverage by CVE
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e896440-3bfd-4265-8d70-afc83e373905
      iscommand: false
      name: ""
      version: -1
    taskid: 3e896440-3bfd-4265-8d70-afc83e373905
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: true
    quietmode: 0
    scriptarguments:
      CVE_List:
        complex:
          accessor: cvelist
          root: incident
      Result_file:
        complex:
          accessor: EntryID
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check coverage from the CVE list.
      id: 2d6dd63c-b9b9-419b-86a9-3fa5ad9ccdb0
      iscommand: false
      name: Check coverage from the CVE list
      script: PanoramaCVECoverage
      type: regular
      version: -1
    taskid: 2d6dd63c-b9b9-419b-86a9-3fa5ad9ccdb0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      target:
        complex:
          accessor: target
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets the predefined threats list from Firewall or Panorama.
      id: 0aa77ad6-c7bc-4f8b-84cf-3b8c9a901a7f
      iscommand: true
      name: pan-os-get-predefined-threats-list
      script: '|||pan-os-get-predefined-threats-list'
      type: regular
      version: -1
    taskid: 0aa77ad6-c7bc-4f8b-84cf-3b8c9a901a7f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 415,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
