contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 3.2.12
    packID: EDL
    packName: Generic Export Indicators Service
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook blocks domains using External Dynamic Link.
  The playbook adds a tag to the inputs domain indicators. the tagged domains can be publish as External Dynamic list that can be added to blocklist using products like Panorama by Palo Alto Networks.
  For Panorama - You can block the tagged domains by creating EDL(in Panorama) with the XSOAR EDL Url, and assign it to Anti-Spyware profile under "DNS Signature Policies"
id: Block Domain - External Dynamic List
inputs:
- description: The domains to block
  key: Domains
  playbookInputQuery: null
  required: false
  value: {}
- description: Indicator tag to assign
  key: Tag
  playbookInputQuery: null
  required: false
  value: {}
name: Block Domain - External Dynamic List
outputs: []
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b91dfe71-e177-4ca7-895f-1026172f5dea
      iscommand: false
      name: ""
      version: -1
    taskid: b91dfe71-e177-4ca7-895f-1026172f5dea
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Tag
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Domains
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 609eb07b-eea9-4735-83a6-3376a68b64af
      iscommand: false
      name: Use External Dynamic List?
      type: condition
      version: -1
    taskid: 609eb07b-eea9-4735-83a6-3376a68b64af
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 180
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 2
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        complex:
          root: inputs.Tag
      indicatorsValues:
        complex:
          root: inputs.Domains
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.add.values.to.indicator.multi.select.field
      id: 17febe84-45d9-41d3-8cfb-76ed203f69b3
      iscommand: true
      name: Update Indicator Tag for EDL
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 17febe84-45d9-41d3-8cfb-76ed203f69b3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bc8d3853-6554-4315-8a49-ebe6496d6160
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: bc8d3853-6554-4315-8a49-ebe6496d6160
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 540
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 555,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
