contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.1.4
    packID: PAN-OS
    packName: PAN-OS by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Commit the PAN-OS Panorama or Firewall configuration.\nIf specified as
  Panorama, it also pushes the Policies to the specified Device Group in the instance.
id: PAN-OS Commit Configuration
inputs:
- description: ""
  key: device-group
  playbookInputQuery: null
  required: false
  value: {}
name: PAN-OS Commit Configuration
outputs:
- contextPath: Panorama.Commit.Warnings
  description: Job ID warnings
  type: string
- contextPath: Panorama.Push.Warnings
  description: Job ID warnings
sourceplaybookid: PAN-OS Commit Configuration
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: '-'
      id: 72f6ac89-7d29-48cd-8fc8-a87a469d368e
      iscommand: false
      name: ""
      version: -1
    taskid: 72f6ac89-7d29-48cd-8fc8-a87a469d368e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 500,
          "y": -250
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Palo Alto Networks PAN-OS
        enabled.
      id: 3cdca23e-0cc3-4d3f-8f27-aef7c980e40d
      iscommand: false
      name: Is Palo Alto Networks PAN-OS enabled?
      type: condition
      version: -1
    taskid: 3cdca23e-0cc3-4d3f-8f27-aef7c980e40d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": -30
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Commit Palo Alto Firewall or Panorama
      id: 589c547f-febf-4966-8f03-92b3510be974
      iscommand: true
      name: Commit to Panorama
      script: '|||pan-os-commit'
      type: regular
      version: -1
    taskid: 589c547f-febf-4966-8f03-92b3510be974
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 270,
          "y": 370
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          accessor: Commit.JobID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.Commit.Status
              operator: isEqualString
              right:
                value:
                  simple: Pending
          root: Panorama
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: job_id
      PollingCommandName:
        simple: pan-os-commit-status
      Timeout:
        simple: "60"
      dt:
        simple: Panorama.Commit(val.Status != 'Completed' && val.Status != 'Failed').JobID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continually running the command in Step #2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: 16b55e1b-edf4-4495-8acd-ec822793a904
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: 16b55e1b-edf4-4495-8acd-ec822793a904
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1075
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: '-'
      id: 952b0224-dd79-4eca-8721-d93bd8edd76a
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 952b0224-dd79-4eca-8721-d93bd8edd76a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1210,
          "y": 4100
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        simple: ${inputs.device-group}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Push rules from Palo Alto Panorama to the Palo Alto configured
        device group.
      id: 73cbf069-2f98-42f8-8ed2-7780618b954c
      iscommand: true
      name: Push rules to the Panorama device group
      script: '|||pan-os-push-to-device-group'
      type: regular
      version: -1
    taskid: 73cbf069-2f98-42f8-8ed2-7780618b954c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -60,
          "y": 2430
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          accessor: Push.JobID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.Push.Status
              operator: isEqualString
              right:
                value:
                  simple: Pending
          root: Panorama
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: job_id
      PollingCommandName:
        simple: pan-os-push-status
      Timeout:
        simple: "60"
      dt:
        simple: Panorama.Push(val.Status != 'Completed' && val.Status != 'Failed').JobID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continually running the command in Step #2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: d7c1b22b-2529-494e-8959-dd33edd07e6e
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: d7c1b22b-2529-494e-8959-dd33edd07e6e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -190,
          "y": 3050
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        complex:
          accessor: Commit.JobID
          root: Panorama
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get commit status
      id: 589fe169-faf7-4986-806f-51eecdb7246c
      iscommand: true
      name: Get Panorama commit status
      script: '|||pan-os-commit-status'
      type: regular
      version: -1
    taskid: 589fe169-faf7-4986-806f-51eecdb7246c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1310
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      job_id:
        complex:
          accessor: Push.JobID
          root: Panorama
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get push status
      id: f3cb81ed-446f-4a55-87ed-866a5acc3be0
      iscommand: true
      name: Get Panorama push status
      script: '|||pan-os-push-status'
      type: regular
      version: -1
    taskid: f3cb81ed-446f-4a55-87ed-866a5acc3be0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -190,
          "y": 3230
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Commit(val.Status != 'Completed' && val.Status != 'Failed').JobID
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Filter JobID to validate only new push configuration JobIDs.
      id: 9af18cb1-8e90-40a7-88aa-30ee4ef8a796
      iscommand: false
      name: Filter JobID
      type: condition
      version: -1
    taskid: 9af18cb1-8e90-40a7-88aa-30ee4ef8a796
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 270,
          "y": 590
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Push(val.Status != 'Completed' && val.Status != 'Failed').JobID
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Filters by JobID to validate only the new push configuration JobIDs.
      id: 3123d9ad-2650-478e-8746-3401631faa14
      iscommand: false
      name: Filter JobID
      type: condition
      version: -1
    taskid: 3123d9ad-2650-478e-8746-3401631faa14
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -60,
          "y": 2740
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      cmd:
        simple: <show><system><info></info></system></show>
      extend-context:
        simple: panorama.model=response.result.system.model
      type:
        simple: op
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Run any command supported in the API.
      id: b319325d-4649-4d0a-85b6-ca86878fe32f
      iscommand: true
      name: Fetch instance info
      script: Panorama|||pan-os
      type: regular
      version: -1
    taskid: b319325d-4649-4d0a-85b6-ca86878fe32f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 150,
          "y": 2000
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: panorama.model
          operator: isEqualString
          right:
            value:
              simple: Panorama
      label: Panorama
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      Panorama:
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Automatically detects the product (Panorama/Firewall).
      id: 831a19ea-d385-4c53-8cc0-c6f871658a0d
      iscommand: false
      name: Identify the instance type
      type: condition
      version: -1
    taskid: 831a19ea-d385-4c53-8cc0-c6f871658a0d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 150,
          "y": 2160
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Commit.Status
          operator: isEqualString
          right:
            value:
              simple: Completed
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: '-'
      id: 658af397-af4e-4589-8cc5-e5d22d67fb7b
      iscommand: false
      name: Was Panorama commit successful?
      type: condition
      version: -1
    taskid: 658af397-af4e-4589-8cc5-e5d22d67fb7b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 150,
          "y": 1470
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Push.Status
          operator: isEqualString
          right:
            value:
              simple: Completed
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: '-'
      id: e5e51f27-0ef7-4603-8ff4-6f29c327187f
      iscommand: false
      name: Was Panorama push successful?
      type: condition
      version: -1
    taskid: e5e51f27-0ef7-4603-8ff4-6f29c327187f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -190,
          "y": 3440
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Panorama Commit Failed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 1312dacc-0f37-48ba-884d-e8fa9697e965
      iscommand: false
      name: Print Commit Error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 1312dacc-0f37-48ba-884d-e8fa9697e965
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 620,
          "y": 1660
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: Panorama Commit Failed
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 0de2ff3e-cdac-4477-8939-cc6722a78b99
      iscommand: false
      name: Print Push Error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 0de2ff3e-cdac-4477-8939-cc6722a78b99
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 3610
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: '-'
      id: 3e46d493-9404-476d-8d95-68b8ad017a84
      iscommand: false
      name: Fix errors and commit manually
      type: regular
      version: -1
    taskid: 3e46d493-9404-476d-8d95-68b8ad017a84
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 620,
          "y": 1825
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: '-'
      id: c1b6bfd6-729d-4c47-8f96-f9a7527b3c9b
      iscommand: false
      name: Fix errors and push manually
      type: regular
      version: -1
    taskid: c1b6bfd6-729d-4c47-8f96-f9a7527b3c9b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 3790
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_3_yes": 0.82,
      "10_5_#default#": 0.1,
      "11_5_#default#": 0.1,
      "13_5_#default#": 0.1,
      "13_6_Panorama": 0.73,
      "14_12_yes": 0.24,
      "15_17_#default#": 0.2,
      "15_5_yes": 0.1,
      "1_5_#default#": 0.17
    },
    "paper": {
      "dimensions": {
        "height": 4415,
        "width": 1780,
        "x": -190,
        "y": -250
      }
    }
  }
